
body {
    background-color:aliceblue;
    font-family: 'Trebushet MS', 'Lucida Sans Unicode'; 
}




h1 {
    color:red;
    text-align: center;
    font-size: 64px;
    border: 4px double red;

    border: 4px double: red;


}

h2 {


    
}